config.py
.vscode
__pycache__
.ipynb_checkpoints
playerlist.py
testoutput.csv
weekend1.csv
weekend1_jp.csv
playerlist_jp.py
weekend1_final.xlsx
weekend2.csv
weekend2_jp.csv
weekend3.csv
weekend3_jp.csv
weekend4.csv
final_points.xlsx